@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,wght@0,8..144,87.5,100..900;1,8..144,87.5,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wdth,wght@0,8..144,87.5,100..900;1,8..144,87.5,100..900&display=swap');

/* import Swiper and modules styles */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
html {
  scroll-behavior: smooth;
}


body{
    background-color: #ffedd6 !important;
    overflow-x: hidden;
}

.font-robotoSerif{
    font-family: 'Roboto Serif', serif;
}
.font-poppins{
    font-family:'Poppins';
}